

body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}
#addsum {
    text-align: left;
    color: purple;
}

p {
    color: red;
    text-align: center;
}

#p02 {
    text-align: left;
    color: green;
}

#p01 {
    text-align: left;
    color: orange;
}

#p03 {
    text-align: left;
    color: white;
}